{% extends "base.html" %}
{% block content %}
<!-- Page 1 -->
<a name="1"></a>
<style type="text/css">
<!--
	p {margin: 0; padding: 0;}	.ft10{font-size:11px;font-family:Times;color:#000000;}
	.ft11{font-size:11px;font-family:Times;color:#9a0000;}
	.ft12{font-size:15px;font-family:Times;color:#000000;}
	.ft13{font-size:11px;font-family:Times;color:#000000;}
	.ft14{font-size:10px;font-family:Times;color:#9a0000;}
	.ft15{font-size:21px;font-family:Times;color:#000000;}
	.ft16{font-size:21px;font-family:Times;color:#ff9a00;}
	.ft17{font-size:11px;line-height:16px;font-family:Times;color:#000000;}
	.ft18{font-size:10px;line-height:15px;font-family:Times;color:#9a0000;}
-->
</style>
<div id="page1-div" style="position:relative;width:918px;height:1188px;">
<img width="918" height="1188" src="pdf001.png" alt="background image"/>
<p style="position:absolute;top:117px;left:54px;white-space:nowrap" class="ft10"> </p>
<p style="position:absolute;top:148px;left:54px;white-space:nowrap" class="ft10"> </p>
<p style="position:absolute;top:180px;left:54px;white-space:nowrap" class="ft10"> </p>
<p style="position:absolute;top:212px;left:54px;white-space:nowrap" class="ft17">The<a href="http://www.pdf995.com"> pdf995 </a>suite of products - <a href="http://www.pdf995.com">Pdf995, </a><a href="http://www.pdfedit995.com">PdfEdit995, a</a>nd <a href="http://www.signature995.com">Signature995 -</a> is a complete solution for your document publishing needs. It <br/>provides ease of use, flexibility in format, and industry-standard security- and all at no cost to you. </p>
<p style="position:absolute;top:261px;left:54px;white-space:nowrap" class="ft11"><a href="http://www.pdf995.com"><b>Pdf995</b></a></p>
<p style="position:absolute;top:261px;left:98px;white-space:nowrap" class="ft10"><a href="http://www.pdf995.com"> m</a>akes it easy and affordable to create professional-quality documents in the popular PDF file format. Its easy-to-use interface </p>
<p style="position:absolute;top:278px;left:54px;white-space:nowrap" class="ft17">helps you to create PDF files by simply selecting the "print" command from any application, creating documents which can be viewed <br/>on any computer with a PDF viewe<a href="http://www.pdf995.com">r. Pdf995</a> supports network file saving, fast user switching on XP, Citrix/Terminal Server, custom <br/>page sizes and large format printing.<a href="http://www.pdf995.com"> Pdf995 </a>is a printer driver that works with any Postscript to PDF converter. The<a href="http://www.pdf995.com"> pdf995 </a>printer <br/>driver and a free Converter are available for easy download. </p>
<p style="position:absolute;top:360px;left:54px;white-space:nowrap" class="ft11"><a href="http://www.pdfedit995.com"><b>PdfEdit995</b></a></p>
<p style="position:absolute;top:360px;left:124px;white-space:nowrap" class="ft10"><a href="http://www.pdfedit995.com"> o</a>ffers a wealth of additional functionality, such as: combining documents into a single PDF; automatic link insertion; </p>
<p style="position:absolute;top:377px;left:54px;white-space:nowrap" class="ft17">hierarchical bookmark insertion; PDF conversion to HTML or DOC (text only); integration with Word toolbar with automatic table of <br/>contents and link generation; autoattach to email; stationery and stamping.  </p>
<p style="position:absolute;top:426px;left:54px;white-space:nowrap" class="ft11"><a href="http://www.signature995.com"><b>Signature995</b></a></p>
<p style="position:absolute;top:426px;left:139px;white-space:nowrap" class="ft10"><a href="http://www.signature995.com"> of</a>fers state-of-the-art security and encryption to protect your documents and add digital signatures. </p>
<p style="position:absolute;top:449px;left:54px;white-space:nowrap" class="ft12"> </p>
<p style="position:absolute;top:470px;left:54px;white-space:nowrap" class="ft12"> </p>
<p style="position:absolute;top:490px;left:54px;white-space:nowrap" class="ft12"> </p>
<p style="position:absolute;top:523px;left:164px;white-space:nowrap" class="ft11"><b>Th<a href="http://www.pdf995.com">e Pdf995</a></b><b> Suite offers the following features, all at no cost:</b></p>
<p style="position:absolute;top:523px;left:552px;white-space:nowrap" class="ft13"><b> </b></p>
<p style="position:absolute;top:561px;left:164px;white-space:nowrap" class="ft18">Automatic insertion of embedded links <br/>Hierarchical Bookmarks </p>
<p style="position:absolute;top:593px;left:164px;white-space:nowrap" class="ft18">Support for Digital Signatures <br/>Support for Triple DES encryption </p>
<p style="position:absolute;top:624px;left:164px;white-space:nowrap" class="ft18">Append and Delete PDF Pages <br/>Batch Print from Microsoft Office </p>
<p style="position:absolute;top:656px;left:164px;white-space:nowrap" class="ft18">Asian and Cyrillic fonts <br/>Integration with Microsoft Word toolbar </p>
<p style="position:absolute;top:687px;left:164px;white-space:nowrap" class="ft18">PDF Stationery <br/>Combining multiple PDF's into a single PDF </p>
<p style="position:absolute;top:719px;left:164px;white-space:nowrap" class="ft18">Three auto-name options to bypass Save As dialog <br/>Imposition of Draft/Confidential stamps </p>
<p style="position:absolute;top:750px;left:164px;white-space:nowrap" class="ft18">Support for large format architectural printing <br/>Convert PDF to JPEG, TIFF, BMP, PCX formats </p>
<p style="position:absolute;top:782px;left:164px;white-space:nowrap" class="ft18">Convert PDF to HTML and Word DOC conversion <br/>Convert PDF to text </p>
<p style="position:absolute;top:813px;left:164px;white-space:nowrap" class="ft18">Automatic Table of Contents generation <br/>Support for XP Fast User Switching and multiple user </p>
<p style="position:absolute;top:845px;left:164px;white-space:nowrap" class="ft18">sessions <br/>Standard PDF Encryption (restricted printing, modifying, </p>
<p style="position:absolute;top:876px;left:164px;white-space:nowrap" class="ft18">copying text and images) <br/>Support for Optimized PDF </p>
<p style="position:absolute;top:908px;left:164px;white-space:nowrap" class="ft14">Support for custom page sizes </p>
<p style="position:absolute;top:561px;left:488px;white-space:nowrap" class="ft18">Option to attach PDFs to email after creation  <br/>Automatic text summarization of PDF </p>
<p style="position:absolute;top:593px;left:488px;white-space:nowrap" class="ft18">documents <br/>Easy integration with document management </p>
<p style="position:absolute;top:624px;left:488px;white-space:nowrap" class="ft18">and Workflow systems <br/>n-Up printing </p>
<p style="position:absolute;top:656px;left:488px;white-space:nowrap" class="ft18">Automatic page numbering <br/>Simple Programmers Interface </p>
<p style="position:absolute;top:687px;left:488px;white-space:nowrap" class="ft18">Option to automatically display PDFs after <br/>creation </p>
<p style="position:absolute;top:719px;left:488px;white-space:nowrap" class="ft18">Custom resizing of PDF output <br/>Configurable Font embedding </p>
<p style="position:absolute;top:750px;left:488px;white-space:nowrap" class="ft18">Support for Citrix/Terminal Server <br/>Support for Windows 2003 Server </p>
<p style="position:absolute;top:782px;left:488px;white-space:nowrap" class="ft18">Easy PS to PDF processing <br/>Specify PDF document properties </p>
<p style="position:absolute;top:813px;left:488px;white-space:nowrap" class="ft18">Control PDF opening mode <br/>Can be configured to add functionality to </p>
<p style="position:absolute;top:845px;left:488px;white-space:nowrap" class="ft18">Acrobat Distiller <br/>Free: Creates PDFs without annoying </p>
<p style="position:absolute;top:876px;left:488px;white-space:nowrap" class="ft18">watermarks <br/>Free: Fully functional, not a trial and does not </p>
<p style="position:absolute;top:908px;left:488px;white-space:nowrap" class="ft18">expire <br/>Over 5 million satisfied customers </p>
<p style="position:absolute;top:939px;left:488px;white-space:nowrap" class="ft14">Over 1000 Enterprise Customers worldwide </p>
<p style="position:absolute;top:965px;left:54px;white-space:nowrap" class="ft12"> </p>
<p style="position:absolute;top:986px;left:220px;white-space:nowrap" class="ft15">Please visit us at<a href="http://www.pdf995.com"> </a></p>
<p style="position:absolute;top:986px;left:385px;white-space:nowrap" class="ft16"><a href="http://www.pdf995.com">www.pdf995.com</a></p>
<p style="position:absolute;top:986px;left:558px;white-space:nowrap" class="ft15"><a href="http://www.pdf995.com"> t</a>o learn more. </p>
<p style="position:absolute;top:1013px;left:459px;white-space:nowrap" class="ft12"> </p>
<p style="position:absolute;top:1034px;left:163px;white-space:nowrap" class="ft12">This document illustrates several features of the <a href="http://www.pdf995.com">Pdf995 S</a>uite of Products. </p>
</div>
<!-- Page 2 -->
<a name="2"></a>
<style type="text/css">
<!--
	p {margin: 0; padding: 0;}	.ft29{font-size:141px;font-family:Times;color:#d9d9d9;-moz-transform: matrix(         1,         -1,          1,          1, 0, 0);-webkit-transform: matrix(         1,         -1,          1,          1, 0, 0);-o-transform: matrix(         1,         -1,          1,          1, 0, 0);-ms-transform: matrix(         1,         -1,          1,          1, 0, 0);-moz-transform-origin: left 75%;-webkit-transform-origin: left 75%;-o-transform-origin: left 75%;-ms-transform-origin: left 75%;}
	.ft210{font-size:33px;font-family:Times;color:#000000;}
	.ft211{font-size:15px;font-family:Times;color:#000000;}
	.ft212{font-size:24px;font-family:Times;color:#000000;}
	.ft213{font-size:15px;font-family:Times;color:#000000;}
-->
</style>
<div id="page2-div" style="position:relative;width:918px;height:1188px;">
<img width="918" height="1188" src="pdf002.png" alt="background image"/>
<p style="position:absolute;top:815px;left:173px;white-space:nowrap" class="ft29"><b>AP</b></p>
<p style="position:absolute;top:674px;left:315px;white-space:nowrap" class="ft29"><b>PR</b></p>
<p style="position:absolute;top:532px;left:456px;white-space:nowrap" class="ft29"><b>OV</b></p>
<p style="position:absolute;top:385px;left:603px;white-space:nowrap" class="ft29"><b>ED</b></p>
<p style="position:absolute;top:237px;left:169px;white-space:nowrap" class="ft210"><b>Introduction</b></p>
<p style="position:absolute;top:300px;left:135px;white-space:nowrap" class="ft22">The</p>
<p style="position:absolute;top:299px;left:168px;white-space:nowrap" class="ft211"><b>Virtual Reality Modeling Language </b>(VRML) is a language for describing multi-</p>
<p style="position:absolute;top:320px;left:135px;white-space:nowrap" class="ft22">participant interactive simulations -- virtual worlds networked via the global Internet and</p>
<p style="position:absolute;top:341px;left:135px;white-space:nowrap" class="ft22">hyperlinked with the World Wide Web. All aspects of virtual world display, interaction</p>
<p style="position:absolute;top:362px;left:135px;white-space:nowrap" class="ft22">and internetworking can be specified using VRML. It is the intention of its designers that</p>
<p style="position:absolute;top:383px;left:135px;white-space:nowrap" class="ft22">VRML become the standard language for interactive simulation within the World Wide</p>
<p style="position:absolute;top:403px;left:135px;white-space:nowrap" class="ft22">Web.</p>
<p style="position:absolute;top:445px;left:135px;white-space:nowrap" class="ft22">The first version of VRML allows for the creation of virtual worlds with limited</p>
<p style="position:absolute;top:466px;left:135px;white-space:nowrap" class="ft22">interactive behavior. These worlds can contain objects which have hyperlinks to other</p>
<p style="position:absolute;top:486px;left:135px;white-space:nowrap" class="ft22">worlds, HTML documents or other valid MIME types. When the user selects an object</p>
<p style="position:absolute;top:507px;left:135px;white-space:nowrap" class="ft22">with a hyperlink, the appropriate MIME viewer is launched. When the user selects a link</p>
<p style="position:absolute;top:528px;left:135px;white-space:nowrap" class="ft22">to a VRML document from within a correctly configured WWW browser, a VRML</p>
<p style="position:absolute;top:548px;left:135px;white-space:nowrap" class="ft22">viewer is launched. Thus VRML viewers are the perfect companion applications to</p>
<p style="position:absolute;top:569px;left:135px;white-space:nowrap" class="ft22">standard WWW browsers for navigating and visualizing the Web. Future versions of</p>
<p style="position:absolute;top:590px;left:135px;white-space:nowrap" class="ft22">VRML will allow for richer behaviors, including animations, motion physics and real-</p>
<p style="position:absolute;top:611px;left:135px;white-space:nowrap" class="ft22">time multi-user interaction.</p>
<p style="position:absolute;top:652px;left:135px;white-space:nowrap" class="ft22">This document specifies the features and syntax of Version 1.0 of VRML.</p>
<p style="position:absolute;top:693px;left:158px;white-space:nowrap" class="ft212"><b>VRML Mission Statement</b></p>
<p style="position:absolute;top:746px;left:135px;white-space:nowrap" class="ft22">The history of the development of the Internet has had three distinct phases; first, the</p>
<p style="position:absolute;top:767px;left:135px;white-space:nowrap" class="ft22">development of the TCP/IP infrastructure which allowed documents and data to be stored</p>
<p style="position:absolute;top:787px;left:135px;white-space:nowrap" class="ft22">in a proximally independent way; that is, Internet provided a layer of abstraction between</p>
<p style="position:absolute;top:808px;left:135px;white-space:nowrap" class="ft22">data sets and the hosts which manipulated them. While this abstraction was useful, it was</p>
<p style="position:absolute;top:829px;left:135px;white-space:nowrap" class="ft22">also confusing; without any clear sense of "what went where", access to Internet was</p>
<p style="position:absolute;top:849px;left:135px;white-space:nowrap" class="ft22">restricted to the class of sysops/net surfers who could maintain internal cognitive maps of</p>
<p style="position:absolute;top:870px;left:135px;white-space:nowrap" class="ft22">the data space.</p>
<p style="position:absolute;top:912px;left:135px;white-space:nowrap" class="ft22">Next, Tim Berners-Lee’s work at CERN, where he developed the hypermedia system</p>
<p style="position:absolute;top:933px;left:135px;white-space:nowrap" class="ft22">known as</p>
<p style="position:absolute;top:932px;left:208px;white-space:nowrap" class="ft211"><b>World Wide Web</b>, added another layer of abstraction to the existing structure.</p>
<p style="position:absolute;top:953px;left:135px;white-space:nowrap" class="ft22">This abstraction provided an "addressing" scheme, a unique identifier (the Universal</p>
<p style="position:absolute;top:974px;left:135px;white-space:nowrap" class="ft22">Resource Locator), which could tell anyone "where to go and how to get there" for any</p>
<p style="position:absolute;top:995px;left:135px;white-space:nowrap" class="ft22">piece of data within the Web. While useful, it lacked dimensionality; there’s no <i>there</i></p>
<p style="position:absolute;top:1015px;left:135px;white-space:nowrap" class="ft22">there within the web, and the only type of navigation permissible (other than surfing) is</p>
<p style="position:absolute;top:1036px;left:135px;white-space:nowrap" class="ft22">by direct reference. In other words, I can only tell you how to get to the VRML Forum</p>
<p style="position:absolute;top:1057px;left:135px;white-space:nowrap" class="ft22">home page by saying, <a href="http://www.wired.com/">"http://www.wired.com/", </a>which is not human-centered data. In</p>
</div>
<!-- Page 3 -->
<a name="3"></a>
<style type="text/css">
<!--
	p {margin: 0; padding: 0;}-->
</style>
<div id="page3-div" style="position:relative;width:918px;height:1188px;">
<img width="918" height="1188" src="pdf003.png" alt="background image"/>
<p style="position:absolute;top:815px;left:173px;white-space:nowrap" class="ft39"><b>AP</b></p>
<p style="position:absolute;top:674px;left:315px;white-space:nowrap" class="ft39"><b>PR</b></p>
<p style="position:absolute;top:532px;left:456px;white-space:nowrap" class="ft39"><b>OV</b></p>
<p style="position:absolute;top:385px;left:603px;white-space:nowrap" class="ft39"><b>ED</b></p>
<p style="position:absolute;top:237px;left:135px;white-space:nowrap" class="ft32">fact, I need to make an effort to remember it at all. So, while the World Wide Web</p>
<p style="position:absolute;top:258px;left:135px;white-space:nowrap" class="ft32">provides a retrieval mechanism to complement the existing storage mechanism, it leaves</p>
<p style="position:absolute;top:279px;left:135px;white-space:nowrap" class="ft32">a lot to be desired, particularly for human beings.</p>
<p style="position:absolute;top:320px;left:135px;white-space:nowrap" class="ft32">Finally, we move to "perceptualized" Internetworks, where the data has been sensualized,</p>
<p style="position:absolute;top:341px;left:135px;white-space:nowrap" class="ft32">that is, rendered sensually. If something is represented sensually, it is possible to make</p>
<p style="position:absolute;top:362px;left:135px;white-space:nowrap" class="ft32">sense of it. VRML is an attempt (how successful, only time and effort will tell) to place</p>
<p style="position:absolute;top:383px;left:135px;white-space:nowrap" class="ft32">humans at the center of the Internet, ordering its universe to our whims. In order to do</p>
<p style="position:absolute;top:403px;left:135px;white-space:nowrap" class="ft32">that, the most important single element is a standard that defines the particularities of</p>
<p style="position:absolute;top:424px;left:135px;white-space:nowrap" class="ft32">perception. Virtual Reality Modeling Language is that standard, designed to be a</p>
<p style="position:absolute;top:445px;left:135px;white-space:nowrap" class="ft313"><i>universal description language for multi-participant simulations</i>.</p>
<p style="position:absolute;top:486px;left:135px;white-space:nowrap" class="ft32">These three phases, storage, retrieval, and perceptualization are analogous to the human</p>
<p style="position:absolute;top:507px;left:135px;white-space:nowrap" class="ft32">process of consciousness, as expressed in terms of semantics and cognitive science.</p>
<p style="position:absolute;top:528px;left:135px;white-space:nowrap" class="ft32">Events occur and are recorded (memory); inferences are drawn from memory</p>
<p style="position:absolute;top:548px;left:135px;white-space:nowrap" class="ft32">(associations), and from sets of related events, maps of the universe are created (cognitive</p>
<p style="position:absolute;top:569px;left:135px;white-space:nowrap" class="ft32">perception). What is important to remember is that the map is</p>
<p style="position:absolute;top:568px;left:583px;white-space:nowrap" class="ft311"><b>not </b>the territory, and we</p>
<p style="position:absolute;top:590px;left:135px;white-space:nowrap" class="ft32">should avoid becoming trapped in any single representation or world-view. Although we</p>
<p style="position:absolute;top:610px;left:135px;white-space:nowrap" class="ft32">need to <i>design to avoid disorientation</i>, we should always push the envelope in the kinds</p>
<p style="position:absolute;top:631px;left:135px;white-space:nowrap" class="ft32">of experience we can bring into manifestation!</p>
<p style="position:absolute;top:673px;left:135px;white-space:nowrap" class="ft32">This document is the living proof of the success of a process that was committed to being</p>
<p style="position:absolute;top:694px;left:135px;white-space:nowrap" class="ft32">open and flexible, responsive to the needs of a growing Web community. Rather than re-</p>
<p style="position:absolute;top:714px;left:135px;white-space:nowrap" class="ft32">invent the wheel, we have adapted an existing specification (Open Inventor) as the basis</p>
<p style="position:absolute;top:735px;left:135px;white-space:nowrap" class="ft32">from which our own work can grow, saving years of design work and perhaps many</p>
<p style="position:absolute;top:756px;left:136px;white-space:nowrap" class="ft32">mistakes. Now our real work can begin; that of rendering our noospheric space.</p>
<p style="position:absolute;top:797px;left:158px;white-space:nowrap" class="ft312"><b>History</b></p>
<p style="position:absolute;top:849px;left:135px;white-space:nowrap" class="ft32">VRML was conceived in the spring of 1994 at the first annual World Wide Web</p>
<p style="position:absolute;top:870px;left:135px;white-space:nowrap" class="ft32">Conference in Geneva, Switzerland. Tim Berners-Lee and Dave Raggett organized a</p>
<p style="position:absolute;top:891px;left:135px;white-space:nowrap" class="ft32">Birds-of-a-Feather (BOF) session to discuss Virtual Reality interfaces to the World Wide</p>
<p style="position:absolute;top:912px;left:135px;white-space:nowrap" class="ft32">Web. Several BOF attendees described projects already underway to build three</p>
<p style="position:absolute;top:932px;left:135px;white-space:nowrap" class="ft32">dimensional graphical visualization tools which interoperate with the Web. Attendees</p>
<p style="position:absolute;top:953px;left:135px;white-space:nowrap" class="ft32">agreed on the need for these tools to have a common language for specifying 3D scene</p>
<p style="position:absolute;top:974px;left:135px;white-space:nowrap" class="ft32">description and WWW hyperlinks -- an analog of HTML for virtual reality. The term</p>
<p style="position:absolute;top:994px;left:135px;white-space:nowrap" class="ft32">Virtual Reality Markup Language (VRML) was coined, and the group resolved to begin</p>
<p style="position:absolute;top:1015px;left:135px;white-space:nowrap" class="ft32">specification work after the conference. The word ’Markup’was later changed to</p>
<p style="position:absolute;top:1036px;left:135px;white-space:nowrap" class="ft32">’Modeling’to reflect the graphical nature of VRML.</p>
</div>
<!-- Page 4 -->
<a name="4"></a>
<style type="text/css">
<!--
	p {margin: 0; padding: 0;}-->
</style>
<div id="page4-div" style="position:relative;width:918px;height:1188px;">
<img width="918" height="1188" src="pdf004.png" alt="background image"/>
<p style="position:absolute;top:815px;left:173px;white-space:nowrap" class="ft49"><b>AP</b></p>
<p style="position:absolute;top:674px;left:315px;white-space:nowrap" class="ft49"><b>PR</b></p>
<p style="position:absolute;top:532px;left:456px;white-space:nowrap" class="ft49"><b>OV</b></p>
<p style="position:absolute;top:385px;left:603px;white-space:nowrap" class="ft49"><b>ED</b></p>
<p style="position:absolute;top:237px;left:135px;white-space:nowrap" class="ft42">Shortly after the Geneva BOF session, the www-vrml mailing list was created to discuss</p>
<p style="position:absolute;top:258px;left:135px;white-space:nowrap" class="ft42">the development of a specification for the first version of VRML. The response to the list</p>
<p style="position:absolute;top:279px;left:135px;white-space:nowrap" class="ft42">invitation was overwhelming: within a week, there were over a thousand members. After</p>
<p style="position:absolute;top:299px;left:135px;white-space:nowrap" class="ft42">an initial settling-in period, list moderator Mark Pesce of Labyrinth Group announced his</p>
<p style="position:absolute;top:320px;left:135px;white-space:nowrap" class="ft42">intention to have a draft version of the specification ready by the WWW Fall 1994</p>
<p style="position:absolute;top:341px;left:135px;white-space:nowrap" class="ft42">conference, a mere five months away. There was general agreement on the list that, while</p>
<p style="position:absolute;top:361px;left:135px;white-space:nowrap" class="ft42">this schedule was aggressive, it was achievable provided that the requirements for the</p>
<p style="position:absolute;top:382px;left:135px;white-space:nowrap" class="ft42">first version were not too ambitious and that VRML could be adapted from an existing</p>
<p style="position:absolute;top:403px;left:135px;white-space:nowrap" class="ft42">solution. The list quickly agreed upon a set of requirements for the first version, and</p>
<p style="position:absolute;top:424px;left:135px;white-space:nowrap" class="ft42">began a search for technologies which could be adapted to fit the needs of VRML.</p>
<p style="position:absolute;top:465px;left:135px;white-space:nowrap" class="ft42">The search for existing technologies turned up a several worthwhile candidates. After</p>
<p style="position:absolute;top:486px;left:135px;white-space:nowrap" class="ft42">much deliberation the list came to a consensus: the Open Inventor ASCII File Format</p>
<p style="position:absolute;top:507px;left:135px;white-space:nowrap" class="ft42">from Silicon Graphics, Inc. The Inventor File Format supports complete descriptions of</p>
<p style="position:absolute;top:527px;left:135px;white-space:nowrap" class="ft42">3D scenes with polygonally rendered objects, lighting, materials, ambient properties and</p>
<p style="position:absolute;top:548px;left:135px;white-space:nowrap" class="ft42">realism effects. A subset of the Inventor File Format, with extensions to support</p>
<p style="position:absolute;top:569px;left:135px;white-space:nowrap" class="ft42">networking, forms the basis of VRML. Gavin Bell of Silicon Graphics has adapted the</p>
<p style="position:absolute;top:590px;left:135px;white-space:nowrap" class="ft42">Inventor File Format for VRML, with design input from the mailing list. SGI has publicly</p>
<p style="position:absolute;top:610px;left:135px;white-space:nowrap" class="ft42">stated that the file format is available for use in the open market, and have contributed a</p>
<p style="position:absolute;top:631px;left:135px;white-space:nowrap" class="ft42">file format parser into the public domain to bootstrap VRML viewer development.</p>
</div>
<!-- Page 5 -->
<a name="5"></a>
<style type="text/css">
<!--
	p {margin: 0; padding: 0;}	.ft514{font-size:10px;font-family:Times;color:#000000;}
	.ft515{font-size:10px;font-family:Times;color:#000000;}
	.ft516{font-size:13px;font-family:Times;color:#000000;}
	.ft517{font-size:10px;font-family:Times;color:#ffffff;}
	.ft518{font-size:8px;font-family:Times;color:#000000;}
	.ft519{font-size:8px;font-family:Times;color:#000000;-moz-transform: matrix(         0,         -1,          1,          0, 0, 0);-webkit-transform: matrix(         0,         -1,          1,          0, 0, 0);-o-transform: matrix(         0,         -1,          1,          0, 0, 0);-ms-transform: matrix(         0,         -1,          1,          0, 0, 0);-moz-transform-origin: left 75%;-webkit-transform-origin: left 75%;-o-transform-origin: left 75%;-ms-transform-origin: left 75%;}
	.ft520{font-size:8px;font-family:Times;color:#000000;}
	.ft521{font-size:8px;font-family:Times;color:#000000;-moz-transform: matrix(         0,         -1,          1,          0, 0, 0);-webkit-transform: matrix(         0,         -1,          1,          0, 0, 0);-o-transform: matrix(         0,         -1,          1,          0, 0, 0);-ms-transform: matrix(         0,         -1,          1,          0, 0, 0);-moz-transform-origin: left 75%;-webkit-transform-origin: left 75%;-o-transform-origin: left 75%;-ms-transform-origin: left 75%;}
	.ft522{font-size:8px;line-height:16px;font-family:Times;color:#000000;}
-->
</style>
<div id="page5-div" style="position:relative;width:918px;height:1188px;">
<img width="918" height="1188" src="pdf005.png" alt="background image"/>
<p style="position:absolute;top:815px;left:173px;white-space:nowrap" class="ft59"><b>AP</b></p>
<p style="position:absolute;top:674px;left:315px;white-space:nowrap" class="ft59"><b>PR</b></p>
<p style="position:absolute;top:532px;left:456px;white-space:nowrap" class="ft59"><b>OV</b></p>
<p style="position:absolute;top:385px;left:603px;white-space:nowrap" class="ft59"><b>ED</b></p>
<p style="position:absolute;top:240px;left:128px;white-space:nowrap" class="ft52">A Graphical Representation of Inverse VRML Uptake</p>
<p style="position:absolute;top:596px;left:128px;white-space:nowrap" class="ft514">Change the number in red below to adjust for download rate and/or bandwidth.</p>
<p style="position:absolute;top:628px;left:142px;white-space:nowrap" class="ft515"><b>1</b></p>
<p style="position:absolute;top:628px;left:168px;white-space:nowrap" class="ft514">The number 1 represents an engineer with an "average" cube *</p>
<p style="position:absolute;top:797px;left:137px;white-space:nowrap" class="ft515"><b>CF</b></p>
<p style="position:absolute;top:797px;left:178px;white-space:nowrap" class="ft515"><b>Min</b></p>
<p style="position:absolute;top:785px;left:224px;white-space:nowrap" class="ft516"><b>fsw</b></p>
<p style="position:absolute;top:785px;left:280px;white-space:nowrap" class="ft516"><b>Air</b></p>
<p style="position:absolute;top:775px;left:326px;white-space:nowrap" class="ft516"><b>EANx</b></p>
<p style="position:absolute;top:794px;left:331px;white-space:nowrap" class="ft516"><b>32%</b></p>
<p style="position:absolute;top:775px;left:378px;white-space:nowrap" class="ft516"><b>EANx</b></p>
<p style="position:absolute;top:794px;left:384px;white-space:nowrap" class="ft516"><b>36%</b></p>
<p style="position:absolute;top:814px;left:138px;white-space:nowrap" class="ft514">80.0 149.12</p>
<p style="position:absolute;top:814px;left:252px;white-space:nowrap" class="ft515"><b>0</b></p>
<p style="position:absolute;top:830px;left:138px;white-space:nowrap" class="ft514">61.4 114.43</p>
<p style="position:absolute;top:830px;left:245px;white-space:nowrap" class="ft515"><b>10</b></p>
<p style="position:absolute;top:846px;left:138px;white-space:nowrap" class="ft514">49.8 92.846</p>
<p style="position:absolute;top:846px;left:245px;white-space:nowrap" class="ft515"><b>20</b></p>
<p style="position:absolute;top:862px;left:138px;white-space:nowrap" class="ft514">41.9 78.102</p>
<p style="position:absolute;top:862px;left:245px;white-space:nowrap" class="ft515"><b>30</b></p>
<p style="position:absolute;top:862px;left:295px;white-space:nowrap" class="ft515"><b>180</b></p>
<p style="position:absolute;top:878px;left:138px;white-space:nowrap" class="ft514">36.2 67.402</p>
<p style="position:absolute;top:878px;left:245px;white-space:nowrap" class="ft515"><b>40</b></p>
<p style="position:absolute;top:878px;left:295px;white-space:nowrap" class="ft515"><b>120</b></p>
<p style="position:absolute;top:894px;left:138px;white-space:nowrap" class="ft514">31.8 59.275</p>
<p style="position:absolute;top:894px;left:245px;white-space:nowrap" class="ft515"><b>50</b></p>
<p style="position:absolute;top:894px;left:292px;white-space:nowrap" class="ft515"><b>80.0</b></p>
<p style="position:absolute;top:894px;left:338px;white-space:nowrap" class="ft515"><b>147.0</b></p>
<p style="position:absolute;top:894px;left:390px;white-space:nowrap" class="ft515"><b>192.0</b></p>
<p style="position:absolute;top:909px;left:138px;white-space:nowrap" class="ft514">28.4</p>
<p style="position:absolute;top:909px;left:184px;white-space:nowrap" class="ft514">52.9</p>
<p style="position:absolute;top:910px;left:245px;white-space:nowrap" class="ft515"><b>60</b></p>
<p style="position:absolute;top:910px;left:292px;white-space:nowrap" class="ft515"><b>57.0</b></p>
<p style="position:absolute;top:910px;left:345px;white-space:nowrap" class="ft515"><b>92.0</b></p>
<p style="position:absolute;top:910px;left:390px;white-space:nowrap" class="ft515"><b>123.0</b></p>
<p style="position:absolute;top:925px;left:138px;white-space:nowrap" class="ft514">25.6 47.774</p>
<p style="position:absolute;top:925px;left:245px;white-space:nowrap" class="ft515"><b>70</b></p>
<p style="position:absolute;top:925px;left:292px;white-space:nowrap" class="ft515"><b>40.0</b></p>
<p style="position:absolute;top:925px;left:345px;white-space:nowrap" class="ft515"><b>65.0</b></p>
<p style="position:absolute;top:925px;left:397px;white-space:nowrap" class="ft515"><b>79.0</b></p>
<p style="position:absolute;top:941px;left:138px;white-space:nowrap" class="ft514">23.4 43.543</p>
<p style="position:absolute;top:941px;left:245px;white-space:nowrap" class="ft515"><b>80</b></p>
<p style="position:absolute;top:941px;left:292px;white-space:nowrap" class="ft515"><b>30.0</b></p>
<p style="position:absolute;top:941px;left:345px;white-space:nowrap" class="ft515"><b>49.0</b></p>
<p style="position:absolute;top:941px;left:397px;white-space:nowrap" class="ft515"><b>59.0</b></p>
<p style="position:absolute;top:957px;left:138px;white-space:nowrap" class="ft514">21.5 40.001</p>
<p style="position:absolute;top:957px;left:245px;white-space:nowrap" class="ft515"><b>90</b></p>
<p style="position:absolute;top:957px;left:292px;white-space:nowrap" class="ft515"><b>24.0</b></p>
<p style="position:absolute;top:957px;left:345px;white-space:nowrap" class="ft515"><b>37.0</b></p>
<p style="position:absolute;top:957px;left:397px;white-space:nowrap" class="ft515"><b>45.0</b></p>
<p style="position:absolute;top:973px;left:138px;white-space:nowrap" class="ft514">19.9</p>
<p style="position:absolute;top:973px;left:195px;white-space:nowrap" class="ft514">37</p>
<p style="position:absolute;top:973px;left:238px;white-space:nowrap" class="ft515"><b>100</b></p>
<p style="position:absolute;top:973px;left:292px;white-space:nowrap" class="ft515"><b>19.0</b></p>
<p style="position:absolute;top:973px;left:345px;white-space:nowrap" class="ft515"><b>30.0</b></p>
<p style="position:absolute;top:973px;left:397px;white-space:nowrap" class="ft515"><b>35.0</b></p>
<p style="position:absolute;top:989px;left:138px;white-space:nowrap" class="ft514">18.5 34.409</p>
<p style="position:absolute;top:989px;left:238px;white-space:nowrap" class="ft515"><b>110</b></p>
<p style="position:absolute;top:989px;left:292px;white-space:nowrap" class="ft515"><b>16.0</b></p>
<p style="position:absolute;top:989px;left:345px;white-space:nowrap" class="ft515"><b>25.0</b></p>
<p style="position:absolute;top:989px;left:397px;white-space:nowrap" class="ft515"><b>29.0</b></p>
<p style="position:absolute;top:1005px;left:138px;white-space:nowrap" class="ft514">17.3 32.154</p>
<p style="position:absolute;top:1005px;left:238px;white-space:nowrap" class="ft515"><b>120</b></p>
<p style="position:absolute;top:1005px;left:292px;white-space:nowrap" class="ft515"><b>13.0</b></p>
<p style="position:absolute;top:1005px;left:345px;white-space:nowrap" class="ft515"><b>20.0</b></p>
<p style="position:absolute;top:1004px;left:389px;white-space:nowrap" class="ft517"><b>n/a</b></p>
<p style="position:absolute;top:1020px;left:138px;white-space:nowrap" class="ft514">16.2 30.178</p>
<p style="position:absolute;top:1020px;left:238px;white-space:nowrap" class="ft515"><b>130</b></p>
<p style="position:absolute;top:1020px;left:292px;white-space:nowrap" class="ft515"><b>10.0</b></p>
<p style="position:absolute;top:1020px;left:345px;white-space:nowrap" class="ft515"><b>17.0</b></p>
<p style="position:absolute;top:1020px;left:389px;white-space:nowrap" class="ft517"><b>n/a</b></p>
<p style="position:absolute;top:1036px;left:138px;white-space:nowrap" class="ft514">15.1 28.202</p>
<p style="position:absolute;top:1036px;left:238px;white-space:nowrap" class="ft515"><b>140</b></p>
<p style="position:absolute;top:1036px;left:299px;white-space:nowrap" class="ft515"><b>8.0</b></p>
<p style="position:absolute;top:1034px;left:337px;white-space:nowrap" class="ft517"><b>n/a</b></p>
<p style="position:absolute;top:1034px;left:389px;white-space:nowrap" class="ft517"><b>n/a</b></p>
<p style="position:absolute;top:520px;left:130px;white-space:nowrap" class="ft518">0</p>
<p style="position:absolute;top:488px;left:124px;white-space:nowrap" class="ft518">20</p>
<p style="position:absolute;top:455px;left:124px;white-space:nowrap" class="ft518">40</p>
<p style="position:absolute;top:423px;left:124px;white-space:nowrap" class="ft518">60</p>
<p style="position:absolute;top:391px;left:124px;white-space:nowrap" class="ft518">80</p>
<p style="position:absolute;top:359px;left:119px;white-space:nowrap" class="ft518">100</p>
<p style="position:absolute;top:327px;left:119px;white-space:nowrap" class="ft518">120</p>
<p style="position:absolute;top:295px;left:119px;white-space:nowrap" class="ft518">140</p>
<p style="position:absolute;top:530px;left:146px;white-space:nowrap" class="ft519">0</p>
<p style="position:absolute;top:536px;left:167px;white-space:nowrap" class="ft519">10</p>
<p style="position:absolute;top:536px;left:189px;white-space:nowrap" class="ft519">20</p>
<p style="position:absolute;top:536px;left:210px;white-space:nowrap" class="ft519">30</p>
<p style="position:absolute;top:536px;left:232px;white-space:nowrap" class="ft519">40</p>
<p style="position:absolute;top:536px;left:253px;white-space:nowrap" class="ft519">50</p>
<p style="position:absolute;top:536px;left:275px;white-space:nowrap" class="ft519">60</p>
<p style="position:absolute;top:536px;left:296px;white-space:nowrap" class="ft519">70</p>
<p style="position:absolute;top:536px;left:318px;white-space:nowrap" class="ft519">80</p>
<p style="position:absolute;top:536px;left:339px;white-space:nowrap" class="ft519">90</p>
<p style="position:absolute;top:541px;left:361px;white-space:nowrap" class="ft519">10</p>
<p style="position:absolute;top:530px;left:361px;white-space:nowrap" class="ft519">0</p>
<p style="position:absolute;top:541px;left:382px;white-space:nowrap" class="ft519">11</p>
<p style="position:absolute;top:530px;left:382px;white-space:nowrap" class="ft519">0</p>
<p style="position:absolute;top:541px;left:403px;white-space:nowrap" class="ft519">12</p>
<p style="position:absolute;top:530px;left:403px;white-space:nowrap" class="ft519">0</p>
<p style="position:absolute;top:541px;left:425px;white-space:nowrap" class="ft519">13</p>
<p style="position:absolute;top:530px;left:425px;white-space:nowrap" class="ft519">0</p>
<p style="position:absolute;top:541px;left:446px;white-space:nowrap" class="ft519">14</p>
<p style="position:absolute;top:530px;left:446px;white-space:nowrap" class="ft519">0</p>
<p style="position:absolute;top:560px;left:251px;white-space:nowrap" class="ft520"><b>Days after download</b></p>
<p style="position:absolute;top:423px;left:110px;white-space:nowrap" class="ft521"><b>In</b></p>
<p style="position:absolute;top:414px;left:110px;white-space:nowrap" class="ft521"><b>ve</b></p>
<p style="position:absolute;top:403px;left:110px;white-space:nowrap" class="ft521"><b>rs</b></p>
<p style="position:absolute;top:393px;left:110px;white-space:nowrap" class="ft521"><b>e</b></p>
<p style="position:absolute;top:385px;left:110px;white-space:nowrap" class="ft521"><b>us</b></p>
<p style="position:absolute;top:373px;left:110px;white-space:nowrap" class="ft521"><b>ag</b></p>
<p style="position:absolute;top:361px;left:110px;white-space:nowrap" class="ft521"><b>e</b></p>
<p style="position:absolute;top:297px;left:356px;white-space:nowrap" class="ft522">Programmers<br/>Technical Writers<br/>QA<br/>Other</p>
<p style="position:absolute;top:523px;left:499px;white-space:nowrap" class="ft518">0</p>
<p style="position:absolute;top:496px;left:493px;white-space:nowrap" class="ft518">10</p>
<p style="position:absolute;top:469px;left:493px;white-space:nowrap" class="ft518">20</p>
<p style="position:absolute;top:442px;left:493px;white-space:nowrap" class="ft518">30</p>
<p style="position:absolute;top:415px;left:493px;white-space:nowrap" class="ft518">40</p>
<p style="position:absolute;top:388px;left:493px;white-space:nowrap" class="ft518">50</p>
<p style="position:absolute;top:361px;left:493px;white-space:nowrap" class="ft518">60</p>
<p style="position:absolute;top:334px;left:493px;white-space:nowrap" class="ft518">70</p>
<p style="position:absolute;top:307px;left:493px;white-space:nowrap" class="ft518">80</p>
<p style="position:absolute;top:280px;left:493px;white-space:nowrap" class="ft518">90</p>
<p style="position:absolute;top:539px;left:515px;white-space:nowrap" class="ft519">50</p>
<p style="position:absolute;top:539px;left:547px;white-space:nowrap" class="ft519">60</p>
<p style="position:absolute;top:539px;left:579px;white-space:nowrap" class="ft519">70</p>
<p style="position:absolute;top:539px;left:611px;white-space:nowrap" class="ft519">80</p>
<p style="position:absolute;top:539px;left:643px;white-space:nowrap" class="ft519">90</p>
<p style="position:absolute;top:545px;left:675px;white-space:nowrap" class="ft519">10</p>
<p style="position:absolute;top:533px;left:675px;white-space:nowrap" class="ft519">0</p>
<p style="position:absolute;top:545px;left:707px;white-space:nowrap" class="ft519">11</p>
<p style="position:absolute;top:533px;left:707px;white-space:nowrap" class="ft519">0</p>
<p style="position:absolute;top:545px;left:739px;white-space:nowrap" class="ft519">12</p>
<p style="position:absolute;top:533px;left:739px;white-space:nowrap" class="ft519">0</p>
<p style="position:absolute;top:545px;left:772px;white-space:nowrap" class="ft519">13</p>
<p style="position:absolute;top:533px;left:772px;white-space:nowrap" class="ft519">0</p>
<p style="position:absolute;top:545px;left:804px;white-space:nowrap" class="ft519">14</p>
<p style="position:absolute;top:533px;left:804px;white-space:nowrap" class="ft519">0</p>
<p style="position:absolute;top:560px;left:591px;white-space:nowrap" class="ft520"><b>Days after download</b></p>
<p style="position:absolute;top:440px;left:482px;white-space:nowrap" class="ft521"><b>In</b></p>
<p style="position:absolute;top:431px;left:482px;white-space:nowrap" class="ft521"><b>ve</b></p>
<p style="position:absolute;top:420px;left:482px;white-space:nowrap" class="ft521"><b>rs</b></p>
<p style="position:absolute;top:410px;left:482px;white-space:nowrap" class="ft521"><b>e</b></p>
<p style="position:absolute;top:402px;left:482px;white-space:nowrap" class="ft521"><b>lo</b></p>
<p style="position:absolute;top:393px;left:482px;white-space:nowrap" class="ft521"><b>g</b></p>
<p style="position:absolute;top:384px;left:482px;white-space:nowrap" class="ft521"><b>us</b></p>
<p style="position:absolute;top:372px;left:482px;white-space:nowrap" class="ft521"><b>ag</b></p>
<p style="position:absolute;top:361px;left:482px;white-space:nowrap" class="ft521"><b>e</b></p>
<p style="position:absolute;top:299px;left:737px;white-space:nowrap" class="ft522">Artists<br/>Musicians<br/>Politicians<br/>Dentists</p>
</div>
<hr/>
<a name="outline"></a><h1>Document Outline</h1>
<ul>
<li>Introduction to the Pdf995 Suite</li>
<li>Sample Word document with links
<ul>
<li>Hierarchical bookmark to Stamped Document</li>
</ul>
</li>
<li>Excel Chart and Spreadsheet</li>
</ul>
{% endblock %}
