{% extends 'siteapps/base.html' %}

{% load staticfiles %}

{% block title %}

    <title>InMergence - Markup</title>

{% endblock %}

{% block top_bar %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
      
{% endblock %}

{% block active_li %}
            <li class="active"><a href="/markup">Markup</a></li>
            <li><a href="/readings">Readings</a></li>
            <li><a href="#contact">Dashboard</a></li>
{% endblock %}


{% block main_content %}
      <div class="starter-template">
        <h1>Markup</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>

    </div><!-- /.container -->

{% endblock %}